body{
    background-color: white!important;
}

.header{
    display: flexbox;
}
.top-header{
    background-color:#106eea;
    color:white;
    display :block;
    width:100%;
    padding: 5px;
}
.top-header ul{
    
    display:inline;
}
.top-header .left-top-nav{
    list-style-type:none ;
    
}
.top-header .right-top-nav, .main-header .right-top-nav{
    list-style-type:none ;
    float: right;
}

.top-header ul li, .main-header ul li{
    padding: 10px;
    display:inline;
    
}


/* MAIN HEADER */
.main-header{
    background-color:white;
    color:balck;
    font-weight: bold;
   
    width:100%;
    padding-bottom: 45px;
    padding-top: 10px;;
}
.main-header .logo{
    float: left;
}
.main-header .logo span{
    color:#106eea ;
}
.main-header .right-top-nav{
   position: relative; 
   right:0px;
   font: right;
}

/* BANNER RAPPER */
.banner-rapper{
    width: 100%;
    height: 500px;
    vertical-align: middle;
    overflow:hidden ;
    display: block;
    background-image: url("https://bootstrapmade.com/demo/templates/BizLand/assets/img/hero-bg.jpg");
    
}
.banner-content{
  width: 100%;
  color:black;
  height: 500px;
}
.banner-header{
    display: table-cell;

  height: 500px;
  vertical-align: middle;
  text-align: center;
}
.banner-headerinner{
    display: table-cell;
    vertical-align: middle;
  height: 500px;
  font-weight: bold;
}
.banner-headerinner h1 span{
    color: #106eea ;
}
.imagecol{
    height:500px;
}
.banner-image{
    position: relative;    
    right: 0%;
    top:200px;
    bottom: 0px;;
    max-width: 500px;;
   
}
.banner-image img{
    
}

/* featured-services*/
.featured-services{
    padding: 20px;
}
.featured-services .service-item {
    padding: 10px;
    
}
.featured-services .service-item .servicebox{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px lavender;
}
.icon{
    color:#106eea;
    text-align: center;
    padding: 20px;
}

