body{
    background-color: white!important;
}

.header{
    display:block;
}
.top-header{
    background-color:#106eea;
    color:white;
    display :block;
    width:100%;
    padding: 5px;
}
.top-header ul{
    
    display:inline;
}
.top-header .left-top-nav{
    list-style-type:none ;
    
}
.top-header .right-top-nav, .main-header .right-top-nav{
    list-style-type:none ;
    float: right;
}
.top-header ul li a{
    color: white;
}
.top-header ul li, .main-header ul li{
    padding: 10px;
    display:inline;
    
}


/* MAIN HEADER */
.main-header{
    background-color:white;
    color:balck;
    font-weight: bold;
   
    width:100%;
    padding-bottom: 45px;
    padding-top: 10px;;
}
.main-header .logo{
    float: left;
}
.main-header .logo span{
    color:#106eea ;
}
.main-header .right-top-nav{
   position: relative; 
   right:0px;
   font: right;
}

/* BANNER RAPPER */
.banner-rapper{
    width: 100%;
    height: 500px;
    vertical-align: middle;
    overflow:hidden ;
    display: block;
    background-attachment: fixed;
    background-image: url("https://bootstrapmade.com/demo/templates/BizLand/assets/img/hero-bg.jpg");
    
}
.banner-content{
  width: 100%;
  color:black;
  height: 500px;
}
.banner-header{
    display: table-cell;

  height: 500px;
  vertical-align: middle;
  text-align: center;
}
.banner-headerinner{
    display: table-cell;
    vertical-align: middle;
  height: 500px;
  font-weight: bold;
}
.banner-headerinner h1 span{
    color: #106eea ;
}
.imagecol{
    height:500px;
}
.banner-image{
    position: relative;    
    right: 0%;
    top:200px;
    bottom: 0px;;
    max-width: 500px;;
   
}
.banner-image img{
    
}

/* featured-services*/
.featured-services{
    padding: 20px;
}
.featured-services .service-item {
    padding: 10px;
    
}
.featured-services .service-item .servicebox{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px lavender;
}
.icon{
    color:#106eea;
    text-align: center;
    padding: 20px;
}
.about-section{
    background-color: whitesmoke;
    padding: 30px;;
}

.about-section .section-title{
    text-align: center;
}

.about-section .section-title h3 span{
    color:#106eea ;
}

.services-skew {
   
     
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: black;
      color: white;
      transform-origin: top;
      padding:100px;
      -ms-transform: skew(0deg, -5deg);
      -webkit-transform: skew(0deg, -5deg);
      transform: skew(0deg, -5deg);
  }
  .section-title{
      text-align: center;
      font-weight: bold;
      margin: 20px;
  }
  .services-skew .teammember{
     padding: 20px;; 
  }
  .services-skew .teammember .member{
    background-color: whitesmoke;
    border-radius: 0px;  
}
.services-skew .teammember .member .member-info{
    padding: 20px; 
    color: black;
}
  .skew-content{
     transform-origin: top;
      -ms-transform: skew(0deg, 5deg);
      -webkit-transform: skew(0deg, 5deg);
      transform: skew(0deg, 5deg);
  }

.contact-section{
    padding: 100px;
}


  .footer{
      background-color:#106eea;
      padding-top: 50px;
  }
  .footer ul{
      list-style-type: none;
  }
  .footer ul li a{
      color: black;
  }
  .copyright{
      background-color: black;
      text-align: center;
      padding: 10px;
      color: whitesmoke;
  }